@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1b1b1f;
  --muted: #f1f1f1;
  --muted-foreground: 215 20.2% 65.1%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --primary: #9bc5ff;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: #ffaaaa;
  --secondary-foreground: 210 40% 98%;
  --third: #e9ea96;
  --third-foreground: 210 40% 98%;
  --fourth: #8fe59b;
  --fourth-foreground: 210 40% 98%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --ring: 224.3 76.3% 48%;
  --radius: 0.75rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  scroll-behavior: smooth;
}

.anchor {
  position:relative;
  top: -64px;
}

.border-sketched {
  border:solid 2px var(--foreground);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

/* Scrollbar Styling */
/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--background); 
} */

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom animation */
.animate-pulse {
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.3;
  }
}
